* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.partial__borders {
    position: absolute;
    width: 650px;
    height: 350px;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -325px;
    background-image: url('../img/6-jezioro.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.partial__borders::before,
.partial__borders::after {
    position: absolute;
    width: calc(100% + 8px);
    height: calc(50% + 8px);
    content: '';
    border-color: #000;
    border-style: solid;
}

.partial__borders::before {
    border-width: 3px 3px 0 3px;
    top: -8px;
    left: -8px;
}

.partial__borders::after {
    border-width: 0 3px 3px 3px;
    bottom: -8px;
    left: -8px;
}