@media screen and (max-width: 992px) {
    .product {
        flex-basis: calc(50% - 30px);
        margin: 15px;
    }
}

@media screen and (max-width: 480px) {
    .product {
        flex-basis: 100%;
        margin: 15px;
    }
}